<label class="f-checkbox clearfix">
    <input type="checkbox" name="@@name" value="@@value" class="f-checkbox__input"@@if (typeof(attr) !== 'undefined'){ @@attr}>
    <span class="f-checkbox__visible" role="checkbox" aria-checked="false" tabindex="0"></span>
    <span class="f-checkbox__label">
        <span class="f-checkbox__label__middle">
            <span class="f-checkbox__label__middle__title">@@title</span>
            <span class="f-checkbox__label__middle__alter">@@alter</span>
        </span>
    </span>
</label>