<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="layout-footer__wrapper">
		
		<div class="layout-footer__copiright">© 2016 Анализ Строек</div>
		
		<nav class="layout-footer__social">
			<ul class="social">
				<li class="social__item"><a href="" class="social__item__link _vk"></a></li>
				<li class="social__item"><a href="" class="social__item__link _fb"></a></li>
				<li class="social__item"><a href="" class="social__item__link _twitter"></a></li>
			</ul>
		</nav>
		
	</div>
</footer>