<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="/index.html" class="layout-header__logo logo" rel="home" itemprop="url" accesskey="1" data-instant>
			<span class="logo__name" itemprop="name"><span class="logo__name__blue">Анализ</span> <span class="logo__name__white">строек</span></span>
			<span class="logo__description">База данных строительных объектов</span>
		</a>
		
		<nav class="navigation" id="navigation" role="navigation">
			<div class="navigation__wrapper">
				
				@@if (typeof navigation !== 'undefined' && navigation == true) {
				<ul class="navigation__list">

				    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/objects.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'objects'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">ОБЪЕКТЫ</span>
				    	</a>
			    	</li>

				    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/participants.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'participants'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">УЧАСТНИКИ</span>
				    	</a>
			    	</li>

				    <li class="navigation__item j-submenu" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/map.html" itemprop="url" class="navigation__link is-dropdown@@if (typeof current !== 'undefined' && current == 'map'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">КАРТА</span>
				    	</a>

				    	<ul class="navigation__item__submenu submenu">
				    		<li class="submenu__item"><a href="" class="submenu__link">Карта объектов</a></li>
				    		<li class="submenu__item"><a href="" class="submenu__link">Карта участников</a></li>
				    	</ul>
			    	</li>

				    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/forum.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'forum'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">ФОРУМ</span>
				    	</a>
			    	</li>

				    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/assistant.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'assistant'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">ПОМОЩНИК</span>
				    	</a>
			    	</li>

				</ul>
				}

			</div>
		</nav>
		
		@@if (typeof navigation == 'undefined' || navigation !== true) {
		<ul class="layout-header__user j-dropdown-list">
			<li class="layout-header__user__item dropdown j-dropdown">
				<a href="" class="layout-header__user__item__link j-dropdown-trigger">
					<span class="layout-header__user__item__ico">Войти</span>
					<svg class="layout-header__user__item__arrow">
					    <use xlink:href="#arrow"/>
					</svg>
				</a>

				<div class="dropdown__form dropdown__hidden">
					<form action="" method="POST">
						<div class="f-row _small clearfix">
							<label class="f-label is-small-margin">
								<span class="f-label__ico">
									<svg class="f-label__ico__image" role="image">
									    <use xlink:href="#avatar"/>
									</svg>
								</span>
								<input type="text" name="login" placeholder="Логин" class="f-input">
							</label>

							<label class="f-label">
								<span class="f-label__ico">
									<svg class="f-label__ico__image" role="image">
									    <use xlink:href="#lock"/>
									</svg>
								</span>
								<input type="password" name="password" placeholder="Пароль" class="f-input">
							</label>
						</div>

						<div class="f-row _medium clearfix">
							<div class="fr">
	                        	<a href="" class="dropdown__forgot-link">Напомнить пароль</a>
	                        </div>

							<div class="fl">
								@@include('./_checkbox.html', {
		                            "name": "save",
		                            "value": "1",
		                            "classname": "is-mini",
		                            "attr": "checked",
		                            "title": "Запомнить"
		                        })
	                        </div>
						</div>

                        <button type="submit" class="button is-wide is-filled">
                        	<span class="button__text">Вход</span>
                        </button>
					</form>
				</div>
			</li>

			<li class="layout-header__user__item dropdown j-dropdown">
				<a href="" class="layout-header__user__item__link j-dropdown-trigger">
					<span class="layout-header__user__item__ico">Зарегистрироваться</span>
					<svg class="layout-header__user__item__arrow">
					    <use xlink:href="#arrow"/>
					</svg>
				</a>

				<div class="dropdown__form dropdown__hidden">
					<form action="" method="POST">
						<label class="f-label is-small-margin">
							<span class="f-label__ico">
								<svg class="f-label__ico__image" role="image">
								    <use xlink:href="#envelope"/>
								</svg>
							</span>
							<input type="text" name="email" placeholder="E-mail*" class="f-input">
						</label>

						<label class="f-label is-small-margin">
							<span class="f-label__ico">
								<svg class="f-label__ico__image" role="image">
								    <use xlink:href="#lock"/>
								</svg>
							</span>
							<input type="password" name="password" placeholder="Пароль*" class="f-input">
						</label>

						<label class="f-label is-small-margin">
							<span class="f-label__ico">
								<svg class="f-label__ico__image" role="image">
								    <use xlink:href="#lock"/>
								</svg>
							</span>
							<input type="password" name="password_confirm" placeholder="Подтверждение пароля*" class="f-input">
						</label>
						
						<div class="f-captcha">
							<div class="f-captcha__row clearfix">
								<div class="f-captcha__image">
									<img src="/images/captcha.png" alt="" class="f-captcha__image__src">
								</div>
								
								<div class="f-captcha__control">
									<input type="text" name="captcha" class="f-input">
								</div>
							</div>

							<div class="f-captcha__comment">
								<span class="f-star">*</span>Введите текст с картинки
							</div>
						</div>

                        <button type="submit" class="button is-wide is-filled">
                        	<span class="button__text">Зарегистрироваться</span>
                        </button>
					</form>
				</div>
			</li>
		</ul>
		}

		@@if (typeof navigation !== 'undefined' && navigation == true) {
		<div class="layout-header__user">
			<span class="layout-header__user__name">Приветствуем, Анатолий</span>
		</div>
		}
	
		<div class="layout-header__dropdown dropdown j-dropdown">
			<div class="dropdown__sandwich">
				<span class="sandwich j-dropdown-trigger">
					<span class="sandwich__layer"></span>
				</span>
			</div>

			<div class="dropdown__menu dropdown__hidden">
				<div class="dropdown__item"><a href="/cabinet.html" class="dropdown__item__link is-gray">Вход в личный кабинет</a></div>
				<div class="dropdown__item"><a href="/cabinet.html" class="dropdown__item__link">Изменить личные данные</a></div>
				<div class="dropdown__item"><a href="/cabinet.html" class="dropdown__item__link is-gray">Сменить пароль</a></div>
				<div class="dropdown__item"><a href="/cabinet.html" class="dropdown__item__link is-red">Удалить аккаунт</a></div>
				<div class="dropdown__item">
					<a href="" class="dropdown__item__link is-gray">
						<span class="dropdown__item__ico _logout">Выход</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</header>