<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="/markup/index.html" class="layout-header__logo logo" rel="home" itemprop="url" accesskey="1" data-instant>
			<span class="logo__name" itemprop="name"><span class="logo__name__blue">Анализ</span> <span class="logo__name__white">строек</span></span>
			<span class="logo__description">База данных строительных объектов</span>
		</a>
		
		<nav class="navigation" id="navigation" role="navigation">
			<div class="navigation__wrapper">
				
				@@if (typeof navigation !== 'undefined' && navigation == true) {
				<ul class="navigation__list">

				    <li class="navigation__item j-submenu" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/markup/objects.html" itemprop="url" class="navigation__link is-dropdown@@if (typeof current !== 'undefined' && current == 'objects'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">ОБЪЕКТЫ</span>
				    	</a>
			    	</li>

				    <li class="navigation__item j-submenu" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/markup/participants.html" itemprop="url" class="navigation__link is-dropdown@@if (typeof current !== 'undefined' && current == 'participants'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">УЧАСТНИКИ</span>
				    	</a>
			    	</li>

				    <li class="navigation__item j-submenu" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/markup/map.html" itemprop="url" class="navigation__link is-dropdown@@if (typeof current !== 'undefined' && current == 'map'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">КАРТА</span>
				    	</a>

				    	<ul class="navigation__item__submenu submenu">
				    		<li class="submenu__item"><a href="" class="submenu__link">Карта объектов</a></li>
				    		<li class="submenu__item"><a href="" class="submenu__link">Карта участников</a></li>
				    	</ul>
			    	</li>

				    <li class="navigation__item j-submenu" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/markup/forum.html" itemprop="url" class="navigation__link is-dropdown@@if (typeof current !== 'undefined' && current == 'forum'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">ФОРУМ</span>
				    	</a>
			    	</li>

				    <li class="navigation__item j-submenu" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
				    	<a href="/markup/assistant.html" itemprop="url" class="navigation__link is-dropdown@@if (typeof current !== 'undefined' && current == 'assistant'){ _current}">
				    		<span class="navigation__link__name" itemprop="name">ПОМОЩНИК</span>
				    	</a>
			    	</li>

				</ul>
				}

			</div>
		</nav>
		
		@@if (typeof navigation == 'undefined' || navigation !== true) {
		<ul class="layout-header__user">
			<li class="layout-header__user__item"><a href="" class="layout-header__user__link">Войти</a></li>
			<li class="layout-header__user__item"><a href="" class="layout-header__user__link">Зарегистрироваться</a></li>
		</ul>
		}

		@@if (typeof navigation !== 'undefined' && navigation == true) {
		<div class="layout-header__user">
			<span class="layout-header__user__name">Приветствуем, Анатолий</span>
		</div>
		}
	
		<div class="layout-header__dropdown dropdown j-dropdown">
			<div class="dropdown__sandwich">
				<span class="sandwich j-dropdown-trigger">
					<span class="sandwich__layer"></span>
				</span>
			</div>

			<div class="dropdown__menu">
				<div class="dropdown__item"><a href="/markup/cabinet.html" class="dropdown__item__link is-gray">Вход в личный кабинет</a></div>
				<div class="dropdown__item"><a href="/markup/cabinet.html" class="dropdown__item__link">Изменить личные данные</a></div>
				<div class="dropdown__item"><a href="/markup/cabinet.html" class="dropdown__item__link is-gray">Сменить пароль</a></div>
				<div class="dropdown__item"><a href="/markup/cabinet.html" class="dropdown__item__link is-red">Удалить аккаунт</a></div>
				<div class="dropdown__item">
					<a href="" class="dropdown__item__link is-gray">
						<span class="dropdown__item__ico _logout">Выход</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</header>