<div class="search">
    <div class="search__wrapper">

        <a href="" class="search__extended">Открыть расширенный поиск</a>

        <form action="" class="search__form clearfix">
            <div class="search__form__control">
                <input type="text" class="search__form__input" placeholder="Введите Ваш запрос">
            </div>

            <div class="search__form__button">
                <button type="submit" class="button _search">поиск</button>
            </div>
        </form>

    </div>
</div>