<div class="search is-open">
    <div class="search__toggle"></div>

    <header class="search__header">
        <div class="search__wrapper">
            <a href="" class="search__extended">Открыть расширенный поиск</a>

            <form action="" class="search__form clearfix">
                <div class="search__form__control">
                    <input type="text" class="search__form__input" placeholder="Введите Ваш запрос">
                </div>

                <div class="search__form__button">
                    <button type="submit" class="button is-wide is-border">поиск</button>
                </div>
            </form>
        </div>
    </header>

    <div class="search__filter">
        <div class="search__wrapper">
            <section class="search__filter__content">

                <div class="search__filter__title">Выберите нужные фильтры для генерации результатов поиска</div>
                
                <div class="search__filter__control">
                    <div class="filter-control j-filter">
                        <div class="filter-control__header j-filter-trigger">
                            <span class="filter-control__label">
                                Населенный пункт
                            </span>
                            <span class="filter-control__remove"></span>
                        </div>

                        <div class="filter-control__dropdown j-filter-dropdown">
                            
                        </div>
                    </div>
                </div>
                
                <div class="search__filter__control">
                    <div class="filter-control j-filter">
                        <div class="filter-control__header j-filter-trigger">
                            <span class="filter-control__label">
                                Район
                            </span>
                            <span class="filter-control__remove"></span>
                        </div>

                        <div class="filter-control__dropdown j-filter-dropdown">
                            
                        </div>
                    </div>
                </div>
                
                <div class="search__filter__control">
                    <div class="filter-control j-filter">
                        <div class="filter-control__header j-filter-trigger">
                            <span class="filter-control__label">
                                Вид объекта
                            </span>
                            <span class="filter-control__remove"></span>
                        </div>

                        <div class="filter-control__dropdown j-filter-dropdown">
                            
                        </div>
                    </div>
                </div>
                
                <div class="search__filter__control">
                    <div class="filter-control j-filter">
                        <div class="filter-control__header j-filter-trigger">
                            <span class="filter-control__label">
                                Тип объекта
                            </span>
                            <span class="filter-control__remove"></span>
                        </div>

                        <div class="filter-control__dropdown j-filter-dropdown">
                            
                        </div>
                    </div>
                </div>

                <div class="search__filter__control">
                    <div class="filter-control j-filter">
                        <div class="filter-control__header j-filter-trigger">
                            <span class="filter-control__label">
                                Стадия строительства
                            </span>
                            <span class="filter-control__remove"></span>
                        </div>

                        <div class="filter-control__dropdown j-filter-dropdown">
                            
                        </div>
                    </div>
                </div>

                <div class="search__filter__control">
                    <div class="filter-control j-filter">
                        <div class="filter-control__header j-filter-trigger">
                            <span class="filter-control__label">
                                Активность объекта
                            </span>
                            <span class="filter-control__remove"></span>
                        </div>

                        <div class="filter-control__dropdown j-filter-dropdown">
                            
                        </div>
                    </div>
                </div>

                <div class="search__filter__control">
                    <div class="filter-control j-filter">
                        <div class="filter-control__header j-filter-trigger">
                            <span class="filter-control__label">
                                Статус объекта
                            </span>
                            <span class="filter-control__remove"></span>
                        </div>

                        <div class="filter-control__dropdown j-filter-dropdown">
                            
                        </div>
                    </div>
                </div>
            </section>

            <footer class="search__filter__footer">
                <button type="submit" class="button is-filled">НАЧАТЬ ПОИСК</button>
                <button type="reset" class="button is-border">СБРОС</button>
            </footer>
        </div>
    </div>
</div>