.f-captcha {
    clear: both;
    margin-bottom: 15px;

    &__row {
        clear: both;
        margin-bottom: 5px;
    }

    &__image {
        width: 127px;
        float: left;
        font-size: 0;

        &__src {
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid $c-hawkes-blue;
        }
    }
    
    &__control {
        width: 100%;
        padding-left: 132px;
    }

    &__comment {
        font-size: 1.2rem;
        color: $c-grey;
        font-weight: 400;
    }
}