input,
textarea {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;

    &:focus {
        outline: none;
    }
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

label {
    cursor: pointer;
}

input, button {
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
}

.f-input,
.f-textarea {
    width: 100%;
    color: $c-comet;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: $font-family;
    border: 1px solid $c-border;

    &.error {
        background: rgba(255, 0, 0, 0.1);
        border-color: rgb(255, 0, 0);
        border-color: rgba(255, 0, 0, 0.5);
    }
    
    &:disabled {
        opacity: 0.4;
        cursor: default;
    }

    &:focus,
    &:focus {
        outline: none;
    }

    &::-ms-clear {
        display: none;
    }
}