.f-label {
    clear: both;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 5px;
    }

    &__name {
        width: 300px;
        float: left;
        margin-right: -300px;
        color: $c-eclipse;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 44px;
        position: relative;
        z-index: 1;
    }

    &__content {
        width: 100%;
        float: left;
        padding-left: 320px;
    }

    &__ico {
        width: 42px;
        height: 42px;
        display: block;
        color: $c-rock-blue;
        position: absolute;
        left: 1px;
        top: 1px;
        text-align: center;
        line-height: 42px;
        background-color: $c-solitude-light;

        &__image {
            max-width: 15px;
            max-height: 15px;
            display: inline-block;
            vertical-align: middle;
        }

        & + .f-input {
            padding-left: 52px;
        }
    }
}