.button {
    height: 44px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    @extend %button;
    font-family: $font-family;
    font-size: 1.8rem;
    line-height: 41px;
    font-weight: 300;
    vertical-align: middle;

    &.is-wide {
        width: 100%;
        padding: 0;
    }
    
    &.is-filled {
        color: $c-white;
        padding: 0 63px;
        background-image: linear-gradient(to right, #009ead 0%, #0075ae 100%);
    }

    &.is-border {
        color: $c-cerulean;
        padding: 0;
        background: none;
        padding: 0 22px;
        border: 2px solid $c-cerulean;

        &:hover {
            color: $c-white;
            background-color: $c-cerulean;
        }
    }

    &.disabled {
        background: #ccc !important;
        cursor: not-allowed !important;
        background: #ccc !important;

        &, &:hover {
            -webkit-box-shadow: none !important;
            box-shadow:none !important;
            background: #ccc !important;
        }
    }
}

.button + .button {
    margin-left: 10px;
}