.navigation {

    &__wrapper {
        padding-left: 305px;
    }

    &__list {
        width: 100%;
        font-size: 0;
    }
    
    &__item {
        position: relative;
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: 2px;
        }

        &__submenu {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 1000;
        }
    }

    &__link {
        color: $c-hawkes-blue;
        cursor: pointer;
        padding: 0 15px;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1;
        line-height: $header-height;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        display: inline-block;
        vertical-align: middle;

        &._current {
            color: $c-raven;
            background-color: $c-solitude;
        }

        &.is-dropdown {
            &:after {
                width: 6px;
                height: 4px;
                content: "";
                position: absolute;
                left: 50%;
                top: 40px;
                margin-left: -3px;
                background: url(../images/ico/dropdown-menu.png) 50% 50% no-repeat;
                background-size: 6px 4px;
            }
        }

        &._current.is-dropdown {
            &:after {
                background-image: url(../images/ico/dropdown-menu-active.png);
            }
        }
    }
}

@media only screen and (max-width: 868px) {
    .navigation {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9000;
        line-height: 1;
        background: none;
        box-shadow: none;
        visibility: hidden;
        
        &__similar {
            height: 0;
            display: none !important;
        }

        &, &._sticked {
            height: 100%;
            right: 0;
            bottom: 0;
        }

        &__wrapper {
            width: 100%;
            height: 100%;
            padding: 0;
            max-width: 100%;
            box-shadow: none;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
        }

        &__list {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 15px 20px;
            transform: scale(0, 0);
            transition: transform $a-time;
        }
        
        &__item {
            border: 0;
            clear: both;
            display: block;
            position: relative;
            text-align: center;
            margin: 40px 0;
            background: none !important;

            &:before {
                display: none;
            }

            &:not(:last-child) {
                margin-right: 0;
                padding-right: 0;
            }
        }

        &__link {
            color: #fff;
            padding: 0;
            font-size: 3rem;
            line-height: 1.2;
            border-radius: 0;
            height: auto;
            border-bottom: 0;
            
            &:hover,
            &.current {
                color: #fff;
                background: none;
            }

            &.current {
                color: #1487d9;
            }

            &:after, &:before {
                display: none;
                opacity: 0 !important;
            }
        }
    }
}

@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}