.pagination {
    clear: both;
    font-size: 0;
    line-height: 0;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid $c-link-water;

    &__list {
        letter-spacing: normal;
        margin: 0 !important;
        padding: 0 !important;
    }

    &__item {
        padding: 0;
        background: none;
        vertical-align: top;
        display: inline-block;

        &:not(:first-child) {
            margin-left: 2px;
        }

        &:not(:last-child) {
            margin-right: 2px;
        }
        
        &__page {
            &, &:visited {
                width: 44px;
                height: 44px;
                display: block;
                vertical-align: top;
                
                text-decoration: none;
                
                text-align: center;
                
                outline: none;

                color: $c-cerulean;
                font-size: 1.7rem;
                font-weight: 300;
                line-height: 40px;

                transition: border-color $a-time;

                background-color: transparent;
                border: 2px solid $c-cerulean;
            }

            &:hover {
                border-color: $c-raven;
            }

            &.current {
                &, &:hover {
                    color: $c-white;
                    border: 0;
                    line-height: 44px;
                    background-image: linear-gradient(to right, $c-bondi-blue 0%, $c-cerulean 100%);
                }
            }

            &._prev,
            &._next {
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }

            &._prev {
                background-image: url(/images/ico/prev.png);
            }

            &._next {
                background-image: url(/images/ico/next.png);
            }
        }
    }
}