.sandwich {
    width: 32px;
    height: 25px;
    cursor: pointer;
    line-height: 1;
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    &__layer {
        width: 100%;
        max-width: 32px;
        height: 5px;
        position: absolute;
        top: 10px;
        margin-top: 0;
        font-size: 0;
        display: block;
        user-select: none;
        -webkit-touch-callout: none;
        background-color: $c-sandwich-background;
        transition: background-color $a-time;

        &:before,
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            background-color: $c-sandwich-background;
            transition: transform $a-time, background-color $a-time;
        }

        &:before {
            transform: translateY(-10px);
        }

        &:after {
            transform: translateY(10px);
        }
    }

    &:hover &__layer {
        &:before {
            transform: translateY(-12px);
        }

        &:after {
            transform: translateY(12px);
        }
    }
}

.is-open {
    .sandwich {
        &__layer {
            background-color: transparent;

            &:before, &:after {
                background-color: $c-sandwich-background-active !important;
            }

            &:before {
                transform: translateY(0) rotate(45deg) !important;
            }

            &:after {
                transform: translateY(0) rotate(-45deg) !important;
            }
        }
    }
}