.social {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;

    &__item {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &__link {
            width: 28px;
            height: 28px;
            color: $c-raven;
            display: block;
            cursor: pointer;
            transition: color $a-time ease;

            &._vk {
                &:hover {
                    color: #4b74a5;
                }
            }

            &._facebook {
                &:hover {
                    color: #3b5998;
                }
            }

            &._twitter {
                &:hover {
                    color: #32ccfe;
                }
            }
        }

        &__ico {
            width: 28px;
            height: 28px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}