.social {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;

    &__item {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &__link {
            width: 28px;
            height: 28px;
            display: block;
            cursor: pointer;
            background-repeat: no-repeat;
            background-image: url(/images/ico/social.png);
            background-image: url(/images/ico/social.svg);
            background-size: 210px 28px;

            &._vk {
                background-position: -183px 50%;
            }

            &._facebook {
                background-position: 0 50%;
            }

            &._twitter {
                background-position: -73px 50%;
            }
        }
    }
}