.layout-footer {
    clear: both;
    height: $footer-height;
    text-align: center;
    position: relative;
    margin-top: -$footer-height;
    background-color: $c-hawkes-blue;
    
    @media (max-width: 768px) {
        height: 60px;
        margin-top: -60px;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__wrapper {
        @extend %layout;
    }

    &__copiright {
        color: $c-raven;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: $footer-height;

        @media (max-width: 768px) {
            line-height: 60px;
        }
    }
    
    &__social {
        margin-top: -13px;
        position: absolute;
        right: 15px;
        top: 50%;

        @media (max-width: 768px) {
            right: 0;
        }
    }
}