.layout-footer {
    clear: both;
    height: $footer-height;
    text-align: center;
    position: relative;
    margin-top: -$footer-height;
    background-color: $c-hawkes-blue;
    
    &__wrapper {
        @extend %layout;
    }

    &__copiright {
        color: $c-raven;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: $footer-height;
    }
    
    &__social {
        margin-top: -13px;
        position: absolute;
        right: 15px;
        top: 50%;
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}