.layout-header {
    clear: both;
    position: relative;
    height: $header-height;
    background-color: #009ead;
    background-image: linear-gradient(to right, #009ead 0%, #0075ae 100%);

    &__wrapper {
        @extend %layout;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 15px;
    }

    &__user {
        color: $c-white;
        line-height: 48px;
        position: absolute;
        top: 0;
        right: 85px;

        &__name,
        &__item {
            font-size: 1.7rem;
            font-weight: 300;
            line-height: 1;
            display: inline-block;
            vertical-align: middle;
        }

        &__link {
            color: $c-white;
            padding-right: 17px;
            text-decoration: none;
            display: inline-block;
            background: url(/images/ico/arrow-right.png) 100% 50% no-repeat;
        }

        &__item {
            &:not(:first-child) {
                margin-left: 45px;
            }
        }
    }

    &__sandwich {
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 10;
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}