.layout-header {
    clear: both;
    position: relative;
    height: $header-height;
    background-color: $c-bondi-blue;
    background-image: linear-gradient(to right, $c-bondi-blue 0%, $c-cerulean 100%);

    &__wrapper {
        @extend %layout;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 15px;
    }

    &__user {
        color: $c-white;
        height: $header-height;
        line-height: $header-height;
        position: absolute;
        top: 0;
        right: 85px;

        @media (max-width: 768px) {
            right: 60px;
        }

        &__name,
        &__item {
            display: inline-block;
        }

        &__name,
        &__item__link {
            font-size: 1.7rem;
            font-weight: 300;
            line-height: 1;
        }

        &__name {
            vertical-align: middle;
        }

        &__item {
            position: relative;
            vertical-align: top;

            @media (max-width: 768px) {
                width: 51px;
            }

            &:not(:first-child) {
                margin-left: 4px;

                @media (max-width: 768px) {
                    margin-left: 10px;
                }
            }

            &__link {
                color: $c-white;
                padding: 0 20px;
                height: $header-height;
                line-height: $header-height;
                text-decoration: none;
                display: inline-block;
                position: relative;
                transition: color $a-time, background-color $a-time;

                @media (max-width: 768px) {
                    padding: 0;
                    font-size: 0;
                    display: block;
                    vertical-align: top;
                    text-indent: -1000px;
                }
            }

            &__ico {
                padding-right: 17px;
                
                @media (max-width: 768px) {
                    display: block;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }

                &--enter {
                    @media (max-width: 768px) {
                        background-image: url(/images/ico/login.svg);
                        background-size: 32px 32px;
                    }
                }

                &--register {
                    @media (max-width: 768px) {
                        background-image: url(/images/ico/register.svg);
                        background-size: 32px 32px;
                    }
                }
            }

            &__arrow {
                width: 7px;
                height: 10px;
                color: $c-white;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translate3d(0, -50%, 0);
                transition: transform $a-time, color $a-time;

                @media (max-width: 768px) {
                    opacity: 0;
                }
            }

            &.is-animate &__arrow {
                color: $c-cerulean;
                transform: translate3d(0, -50%, 0) rotate(90deg);

                @media (max-width: 768px) {
                    opacity: 1;
                }
            }

            &.is-animate &__link {
                color: $c-black;
                background-color: $c-white;
            }
        }
    }

    &__dropdown {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}