h1 {
    &:not([class]) {
        text-align: center;
        color: $c-bondi-blue;
        font-size: 3.6rem;
        line-height: 1;
        font-weight: 300;
        margin-bottom: 25px;
    }
}

h2 {
    &:not([class]) {
        color: $c-eclipse;
        font-size: 3.6rem;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 5px;
    }
}

.bondi-blue {
    color: $c-bondi-blue;
}