@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "map",
        "navigation": true
    })

    @@include('./components/_search.html', {
        "extended": true,
        "search": true
    })

    <div class="layout-wrapper__pusher is-no-push">
        
        <div class="map j-map" id="map-container" data-coords="45.033157,38.976339"></div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')