@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "index",
        "navigation": true
    })

    @@include('./components/_search.html')

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <div class="content clearfix">

                <h2>Перечень объектов строительства</h2>
                <p>Всего найдено <span class="bondi-blue">3458</span> объектов</p>

                <ul class="tabs">
                    <li class="tabs__item"><a href="" class="tabs__item__link">Блочный вид</a></li>
                    <li class="tabs__item"><a href="" class="tabs__item__link is-current">Расположение на карте</a></li>
                    <li class="tabs__item"><a href="" class="tabs__item__link">Табличный вид</a></li>
                </ul>
                
                <div class="tabs-content">
                    
                    <ul class="objects clearfix">

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-new">НОВЫЙ</span>
                                    <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-updated"></span>
                                    <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/2.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>
                        
                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-new">НОВЫЙ</span>
                                    <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/3.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>
                        
                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-new">НОВЫЙ</span>
                                    <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/4.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "checked",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-last-update"></span>
                                    <span class="object-item__header__date">Последнее обновление:<br><span class="is-big">21.07.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/5.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>
                        
                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-last-update"></span>
                                    <span class="object-item__header__date">Последнее обновление:<br><span class="is-big">21.07.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-updated"></span>
                                    <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "checked",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>
                        
                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-new">НОВЫЙ</span>
                                    <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-updated"></span>
                                    <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "checked",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>
                        
                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-new">НОВЫЙ</span>
                                    <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-updated"></span>
                                    <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "checked",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>
                        
                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-new">НОВЫЙ</span>
                                    <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "checked",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-updated"></span>
                                    <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "checked",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-new">НОВЫЙ</span>
                                    <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "checked",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>

                        <li class="objects__item">
                            <div class="object-item">
                                <header class="object-item__header">
                                    <span class="object-item__header__status is-updated"></span>
                                    <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                </header>

                                <a href="" class="object-item__image">
                                    <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                </a>
                                
                                <footer class="object-item__footer">
                                    <div class="object-item__footer__row clearfix">
                                        <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                        <div class="object-item__footer__compare">
                                            @@include('./components/_checkbox.html', {
                                                "name": "compare",
                                                "value": "1",
                                                "attr": "checked",
                                                "title": "СЛЕДИТЬ",
                                                "alter": "ОТМЕНА"
                                            })
                                        </div>
                                    </div>

                                    <div class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</div>
                                </footer>
                            </div>
                        </li>
                    </ul>
                    
                    <div class="next-page">
                        <a href="" class="next-page__link">Следующая страница</a>
                    </div>
                    
                    @@include('./components/_pagination.html')

                </div>
                
            </div>
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')