@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "index",
        "navigation": true
    })

    @@include('./components/_search.html')

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <div class="content clearfix">
                
                <div class="object clearfix">

                    <div class="object__header clearfix">
                        <div class="object__header__title">Компания ООО «АльфаCтройКомплекс»</div>
                        <a href="" class="object__header__control _edit"></a>
                    </div>
                    
                    <div class="object__row clearfix">
                        <div class="object__aside">
                            <div class="object__logo">
                                <img src="/images/ask-logo.jpg" class="object__logo__src" alt="">
                            </div>

                            <div class="object__map">
                                <img src="/images/map.png" alt="">
                            </div>
                        </div>

                        <div class="object__content">
                            <div class="object__desc">
                                <div class="object__desc__title">ООО «АлМакс-Строй»</div>
                                <div class="object__desc__text">
                                    <strong>Адрес:</strong> Краснодар, Новознаменский район, ул. Тихорецкая, 128, офис 103<br>
                                    <strong>Телефон:</strong> 8 (861) 236-56-78, 8 (861) 236-56-78<br>
                                    <strong>Факс:</strong> 8 (861) 236-56-78<br>
                                    <strong>E-mail:</strong> <a href="mailto:menager@alfastroikompleks.ru">menager@alfastroikompleks.ru</a><br>
                                    <strong>Сайт компании:</strong> <a href="http://www.alfastroikompleks.ru" target="_blank">www.alfastroikompleks.ru</a><br>
                                    <strong>Сфера деятельности:</strong> Застройщик
                                </div>
                            </div>

                            <div class="object__button-list">
                                <button type="button" class="button is-filled is-inline">
                                    <span class="button__ico button__ico__map">показать на карте</span>
                                </button>
                                <button type="button" class="button is-filled is-inline">
                                    <span class="button__ico button__ico__note">добавить заметку</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="object__header clearfix">
                        <div class="object__header__title">Контактные лица компании</div>
                        <a href="" class="object__header__control _add"></a>
                    </div>

                    <div class="object__contact-persons clearfix">
                        <article class="object__contact-persons__item">
                            <div class="object__contact-persons__item__post">ДИРЕКТОР</div>
                            <div class="object__contact-persons__item__content">
                                <strong>ФИО:</strong> Новицкий Аркадий Генадьевич<br>
                                <strong>Рабочий телефон:</strong> 8 (861) 236-56-78<br>
                                <strong>Мобильный телефон:</strong> 8 928 406 34-19<br>
                                <strong>E-mail:</strong> <a href="mailto:director@alfastroikompleks.ru">director@alfastroikompleks.ru</a>
                            </div>
                        </article>

                        <article class="object__contact-persons__item">
                            <div class="object__contact-persons__item__post">ГЛАВНЫЙ БУХГАЛТЕР</div>
                            <div class="object__contact-persons__item__content">
                                <strong>ФИО:</strong> Соколова Ольга Михайловна<br>
                                <strong>Рабочий телефон:</strong> 8 (861) 236-56-78<br>
                                <strong>Мобильный телефон:</strong> 8 928 406 34-19<br>
                                <strong>E-mail:</strong> <a href="mailto:director@alfastroikompleks.ru">director@alfastroikompleks.ru</a>
                            </div>
                        </article>
                        
                        <article class="object__contact-persons__item">
                            <div class="object__contact-persons__item__post">МЕНЕДЖЕР</div>
                            <div class="object__contact-persons__item__content">
                                <strong>ФИО:</strong> Тихомиров Владимир александрович<br>
                                <strong>Рабочий телефон:</strong> 8 (861) 236-56-78<br>
                                <strong>Мобильный телефон:</strong> 8 928 406 34-19<br>
                                <strong>E-mail:</strong> <a href="mailto:director@alfastroikompleks.ru">director@alfastroikompleks.ru</a>
                            </div>
                        </article>
                    </div>

                    <div class="object__button-list _border">
                        <button type="submit" class="button is-filled is-inline">Сохранить изменения</button>
                        <button type="button" class="button is-filled is-inline">отмена</button>
                    </div>

                </div>

            </div>
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')