@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "index",
        "navigation": true
    })

    @@include('./components/_search.html')

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <div class="content clearfix">

                <h2>Перечень объектов строительства</h2>
                <p>Всего найдено <span class="bondi-blue">3458</span> объектов</p>
                    
                <div class="j-tab-wrapper">
                    <ul class="tabs">
                        <li class="tabs__item"><a href="" data-tab="view-table" class="tabs__item__link j-tab-trigger is-current">Табличный вид</a></li>
                        <li class="tabs__item"><a href="" data-tab="view-block" class="tabs__item__link j-tab-trigger">Блочный вид</a></li>
                        <li class="tabs__item"><a href="" data-tab="view-map" class="tabs__item__link j-tab-trigger">Расположение на карте</a></li>
                    </ul>
                    
                    <div class="tabs-content j-tab-item is-open" id="tab-view-table">
                        
                        <table class="objects-table">
                            <colgroup>
                                <col width="80">
                                <col>
                                <col width="220">
                                <col width="130">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Наименование объекта</th>
                                    <th colspan="2">Статус</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>3458</td>
                                    <td>ЖК «Поющие фонтаны» на Гидрострое. Адрес объекта: Краснодар, ул. Снесарева, 5</td>
                                    <td>
                                        <span class="objects-table__status is-new">НОВЫЙ</span>
                                        <span class="objects-table__date">Добавлен:<br><span class="is-big">01.05.2016</span></span>
                                    </td>
                                    <td>
                                        @@include('./components/_checkbox.html', {
                                            "name": "compare",
                                            "value": "1",
                                            "attr": "",
                                            "title": "СЛЕДИТЬ",
                                            "alter": "ОТМЕНА"
                                        })
                                    </td>
                                </tr>
                                <tr>
                                    <td>3200</td>
                                    <td>ЖК «Зеленый парк» в Карасунском округе. Адрес объекта: Краснодар, ул. Снесарева, 5</td>
                                    <td>
                                        <span class="objects-table__status is-new">НОВЫЙ</span>
                                        <span class="objects-table__date">Добавлен:<br><span class="is-big">01.05.2016</span></span>
                                    </td>
                                    <td>
                                        @@include('./components/_checkbox.html', {
                                            "name": "compare",
                                            "value": "1",
                                            "attr": "",
                                            "title": "СЛЕДИТЬ",
                                            "alter": "ОТМЕНА"
                                        })
                                    </td>
                                </tr>
                                <tr>
                                    <td>3078</td>
                                    <td>ЖК «Поющие фонтаны». Адрес объекта: Краснодар, ул. Снесарева, 5</td>
                                    <td>
                                        <span class="objects-table__status is-updated"></span>
                                        <span class="objects-table__date">Обновлен:<br><span class="is-big">01.05.2016</span></span>
                                    </td>
                                    <td>
                                        @@include('./components/_checkbox.html', {
                                            "name": "compare",
                                            "value": "1",
                                            "attr": "",
                                            "title": "СЛЕДИТЬ",
                                            "alter": "ОТМЕНА"
                                        })
                                    </td>
                                </tr>
                                <tr>
                                    <td>3012</td>
                                    <td>ЖК «Поющие фонтаны» на Гидрострое. Адрес объекта: Краснодар, ул. Снесарева, 5</td>
                                    <td>
                                        <span class="objects-table__status is-updated"></span>
                                        <span class="objects-table__date">Обновлен:<br><span class="is-big">01.05.2016</span></span>
                                    </td>
                                    <td>
                                        @@include('./components/_checkbox.html', {
                                            "name": "compare",
                                            "value": "1",
                                            "attr": "",
                                            "title": "СЛЕДИТЬ",
                                            "alter": "ОТМЕНА"
                                        })
                                    </td>
                                </tr>
                                <tr>
                                    <td>3001</td>
                                    <td>ЖК «Зеленый парк» в Карасунском округе. Адрес объекта: Краснодар, ул. Снесарева, 5</td>
                                    <td>
                                        <span class="objects-table__status is-updated"></span>
                                        <span class="objects-table__date">Обновлен:<br><span class="is-big">01.05.2016</span></span>
                                    </td>
                                    <td>
                                        @@include('./components/_checkbox.html', {
                                            "name": "compare",
                                            "value": "1",
                                            "attr": "",
                                            "title": "СЛЕДИТЬ",
                                            "alter": "ОТМЕНА"
                                        })
                                    </td>
                                </tr>
                                <tr>
                                    <td>2799</td>
                                    <td>ЖК «Поющие фонтаны» на Гидрострое. Адрес объекта: Краснодар, ул. Снесарева, 5</td>
                                    <td>
                                        <span class="objects-table__status is-updated"></span>
                                        <span class="objects-table__date">Обновлен:<br><span class="is-big">01.05.2016</span></span>
                                    </td>
                                    <td>
                                        @@include('./components/_checkbox.html', {
                                            "name": "compare",
                                            "value": "1",
                                            "attr": "",
                                            "title": "СЛЕДИТЬ",
                                            "alter": "ОТМЕНА"
                                        })
                                    </td>
                                </tr>
                                <tr>
                                    <td>2655</td>
                                    <td>ЖК «Поющие фонтаны». Адрес объекта: Краснодар, ул. Снесарева, 5</td>
                                    <td>
                                        <span class="objects-table__status is-last-update"></span>
                                        <span class="objects-table__date">Последнее обновление:<br><span class="is-big">01.05.2016</span></span>
                                    </td>
                                    <td>
                                        @@include('./components/_checkbox.html', {
                                            "name": "compare",
                                            "value": "1",
                                            "attr": "",
                                            "title": "СЛЕДИТЬ",
                                            "alter": "ОТМЕНА"
                                        })
                                    </td>
                                </tr>
                                <tr>
                                    <td>2487</td>
                                    <td>ЖК «Зеленый парк» в Карасунском округе. Адрес объекта: Краснодар, ул. Снесарева, 5</td>
                                    <td>
                                        <span class="objects-table__status is-last-update"></span>
                                        <span class="objects-table__date">Последнее обновление:<br><span class="is-big">01.05.2016</span></span>
                                    </td>
                                    <td>
                                        @@include('./components/_checkbox.html', {
                                            "name": "compare",
                                            "value": "1",
                                            "attr": "",
                                            "title": "СЛЕДИТЬ",
                                            "alter": "ОТМЕНА"
                                        })
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="tabs-content j-tab-item" id="tab-view-block">
                        
                        <ul class="objects-list clearfix">

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-new">НОВЫЙ</span>
                                        <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-updated"></span>
                                        <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/2.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>
                            
                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-new">НОВЫЙ</span>
                                        <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/3.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>
                            
                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-new">НОВЫЙ</span>
                                        <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/4.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "checked",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-last-update"></span>
                                        <span class="object-item__header__date">Последнее обновление:<br><span class="is-big">21.07.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/5.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>
                            
                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-last-update"></span>
                                        <span class="object-item__header__date">Последнее обновление:<br><span class="is-big">21.07.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-updated"></span>
                                        <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "checked",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>
                            
                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-new">НОВЫЙ</span>
                                        <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-updated"></span>
                                        <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "checked",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>
                            
                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-new">НОВЫЙ</span>
                                        <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-updated"></span>
                                        <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "checked",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>
                            
                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-new">НОВЫЙ</span>
                                        <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "checked",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-updated"></span>
                                        <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "checked",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-new">НОВЫЙ</span>
                                        <span class="object-item__header__date">Добавлен:<br><span class="is-big">23.05.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "checked",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>

                            <li class="objects-list__item">
                                <div class="object-item">
                                    <header class="object-item__header">
                                        <span class="object-item__header__status is-updated"></span>
                                        <span class="object-item__header__date">Обновлен:<br><span class="is-big">01.04.2016</span></span>
                                    </header>

                                    <a href="" class="object-item__image">
                                        <img src="/images/objects/1.jpg" class="object-item__image__src" alt="">
                                    </a>
                                    
                                    <footer class="object-item__footer">
                                        <div class="object-item__footer__row clearfix">
                                            <div class="object-item__footer__article"><strong>ID</strong> 3245</div>
                                            <div class="object-item__footer__compare">
                                                @@include('./components/_checkbox.html', {
                                                    "name": "compare",
                                                    "value": "1",
                                                    "attr": "checked",
                                                    "title": "СЛЕДИТЬ",
                                                    "alter": "ОТМЕНА"
                                                })
                                            </div>
                                        </div>

                                        <a href="" class="object-item__footer__name"><strong>ЖК «Поющие фонтаны»</strong><br>Адрес объекта: Краснодар, ул. Снесарева, 5</a>
                                    </footer>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="tabs-content j-tab-item" id="tab-view-map"></div>
                        
                    <div class="next-page">
                        <a href="" class="next-page__link">Следующая страница</a>
                    </div>
                    
                    @@include('./components/_pagination.html')
                
                </div>

            </div>
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')